.cart-top {
    padding: 10px;
    height: 360px;
    width: 350px;
    border: 1px solid gray;
    margin-top: 10px;
    background-color: rgb(169, 169, 230);
    background-image: url(https://i.ibb.co/pnspZ9p/doctorbackground.jpg);
  
    
  }
  .cart-details{
      padding: 30px;
      text-align: center;
  }
  .text-area {
    text-align: center;
    /* background-color: rgb(131, 124, 124); */
   
  }