.Cart {
    padding: 10px;
    height: 400px;
    width: 400px;
    border: 1px solid gray;
    margin-top: 10px;
    background-color: rgb(169, 169, 230);
    background-image: url(https://i.ibb.co/5jxMn2Y/Home-Banner1.jpg);
    
  
    
  }
  .cart-details{
      padding: 30px;
      text-align: center;
  }
  .text-area {
    text-align: center;
  
   
  }